* {
    margin: 0;
    padding: 0;
    font-family: "Oxanium", sans-serif;
    
}
body {
  margin: 0;
  min-height: 100vh;

background: linear-gradient(to top, #858a86,#a6aab9,#ededed);
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.5;
  pointer-events: none;
  z-index: 0;
}
